<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @register.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @register.lname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @register.email %>
</p>

<p>
  <strong>Contactno:</strong>
  <%= @register.contactno %>
</p>

<p>
  <strong>Collegename:</strong>
  <%= @register.collegename %>
</p>

<p>
  <strong>Coladdress:</strong>
  <%= @register.coladdress %>
</p>

<p>
  <strong>City:</strong>
  <%= @register.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @register.state %>
</p>

<p>
  <strong>Pincode:</strong>
  <%= @register.pincode %>
</p>

<p>
  <strong>Fphydirname:</strong>
  <%= @register.fphydirname %>
</p>

<p>
  <strong>Lphydirname:</strong>
  <%= @register.lphydirname %>
</p>

<p>
  <strong>Pdcontact:</strong>
  <%= @register.pdcontact %>
</p>

<p>
  <strong>Sports:</strong>
  <%= @register.sports %>
</p>

<p>
  <strong>Menwomen:</strong>
  <%= @register.menwomen %>
</p>

<p>
  <strong>Singdouble:</strong>
  <%= @register.singdouble %>
</p>

<p>
  <strong>Accepted:</strong>
  <%= @register.accepted %>
</p>

<%= link_to 'Edit', edit_register_path(@register) %> |
<%= link_to 'Back', registers_path %>
